* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Utility */
h1,
h2,
h3,
h4,
h5,
h5 {
	margin-bottom: 1rem;
}
h1 {
	color: #56a5eb;
	margin-bottom: 5rem;
	font-size: 3.5rem;
}
h2 {
	font-size: 2rem;
	margin-bottom: 3.5rem;
	font-weight: 700;
}
.btn {
	text-decoration: none;
	cursor: pointer;
	width: 20rem;
	padding: 1rem 0;
	text-align: center;
	font-size: 1.5rem;
	background-color: #fff;
	margin-bottom: 1rem;
	border-radius: 5px;
	border: 1px solid #56a5eb;
	color: #56a5eb;
}
.btn:hover {
	box-shadow: 0 0.2rem 1.4rem 0 rgba(86, 185, 235, 0.3);
	transform: translateY(-2px);
	transition: transform 0.5s ease-in-out;
}
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	background-color: #f4f4f4;
	font-size: 62.5%;
}

.container {
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	padding: 2rem;
	background-color: #eee;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#myaudio {
	position: absolute;
	top: 2px;
	right: 5px;
}

/* style for end.html */
.form-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.btn[disabled]:hover {
	cursor: not-allowed;
	box-shadow: none;
	transform: none;
}
input[type="text"] {
	width: 20rem;
	padding: 1rem 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.3rem;
	border: none;
	box-shadow: 0 0.2rem 1.4rem 0 rgba(86, 185, 235, 0.3);
}

/* Highscore style */
.highscore {
	margin-bottom: 2rem;
	font-size: 2.5rem;
}
table {
	margin-bottom: 1.2rem;
	width: 20rem;
}
th {
	background-color: #56a5eb;
	color: #fff;
	padding: 12px 8px;
	font-size: 1rem;
	text-align: left;
}
td {
	padding: 8px;
	font-size: 0.9rem;
	text-align: left;
}

tbody tr:nth-child(even) {
	background-color: #ccc;
}

footer {
	position: absolute;
	left: 50%;
	bottom: 5px;
	text-align: center;
}
a {
	text-decoration: none;
	color: blue;
}
a:hover {
	opacity: 0.6;
}
footer p {
	font-size: 1rem;
	color: #333;
}
.fa-heart {
	color: rgb(214, 103, 103);
}
